.expenses-list {
    list-style: none;
    padding: 0;

  }
  
  .expenses-list__fallback {
    color: white;
    text-align: center;
  }
  .ico{
    width: 65px;
    height: 65px;
  }
  .expense-item
  {
    display: flex;
    /* align-content: space-around; */
    justify-content: space-around;
    
  }